a {
    text-decoration: inherit;
}
input#cyph_search{
    font-family: "proxima nova";
    font-size: 100%; width: 150px; height: 20px;
    border-radius: 15px;
    background-image: url("images/magnifier_glass.png");
    background-size: 23px;
    background-repeat: no-repeat;
    background-position: 4px 2px;
    background-color: #F1F1F1;
    padding-left: 28px;
    padding-right: 8px;
    -webkit-transition: all 300ms ease-in-out;  
}
input#cyph_search:focus{
    width: 200px;
    background-color: #FFF;
    outline: none;
}
/*----------------------------------------------*/
a#cyph_linkbtn{
    color: #43A2EC;
    width: auto;
    height: auto;
    font-family: "proxima nova";
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    border:solid 2px #43A2EC;
    border-radius: 50px;
    padding:1px 10px;
    -webkit-transition-duration: 300ms; 
}
a#cyph_linkbtn:hover{
    background-color: #43A2EC;
    color: #fff;
}
/*--------------------------------------------------*/
#switch{
    display:none;
}
#switch-btn{
    width:80px;
    height: 40px;
    background: #e5e5e5;
    position: relative;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: inset 0 3px 10px rgba(0,0,0,.3);
}
#switch-btn:before{
    content: '';
    position: absolute;
    height: 36px;
    width: 36px;
    background: linear-gradient(#FFF,#f2f2f2);
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition:all 150ms ease-out;
    box-shadow: 0 8px 6px -4px rgba(0, 0, 0,.25);  
}
input[type=checkbox]:checked + 
#switch-btn:before{
left:42px;
}

input[type=checkbox]:checked +
 #switch-btn{
     background:#5BB234;
}
.cyph_radio{
  -webkit-appearance:none;
  content:'';
  width:16px;
  height:16px;
  background-color:#43A2EC;
  border-radius:50%;
  outline:none;
}
.cyph_radio:checked:after{
  content:'';
  background-color:#fff;
  width:50%;
  height:50%;
  display:block;
  margin:25%;
  border-radius:50%;
}